.game-container {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
}

.local-game {
    margin-right: 4%;
}





#opponentCanvas {
    background-color: grey; /* Set a background color */
    z-index: 10; /* Bring the canvas to the front */
    border: 2px solid #000; /* Add a border for visibility */
  }

